html {
    background: black;
}

.content {
    background-color: white;
    max-width: 1280px;
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    background: white;
    display: inline-block;
    list-style-type: none;
    padding-left:100
}

/* Create a style for the first level items */
body {
    background: black;
    font-family: 'Karla', sans-serif;

}

#logo {
    height: 34px;
    width: 93px;
    vertical-align: middle;
}

li:hover {
    background: #fff;
}

nav > ul > li > a {
    background: white;
    color: #aaa;
    background-color: white;
    display: inline-block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}




body,
html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/heroimg.png");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EEF1F5;
    padding-left: 40px;
}

/*Hero image zoom */
.hero-image {
    -webkit-animation: zoom 10s infinite;
    animation: zoom 10s infinite;
    background: url("assets/heroimg.png") center center fixed no-repeat;
}
.watch_button{
    background-color: none;
}

@-webkit-keyframes zoom {

    0%,
    100% {
        background-size: 100%;
    }

    50% {
        background-size: 125%;
    }
}

@keyframes zoom {

    0%,
    100% {
        background-size: 100%;
    }

    50% {
        background-size: 125%;
    }
}

#aboutimg {
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 35px;
    padding-bottom: 125px;
}

#abouthead {
    padding-right: 321px;
    padding-top: 100px;
    color:#001D5D;
    font-size: 40px

}

#aboutbody {
    padding-right: 170px;
}

.fleft {
    float: left;
}
#contact{

    padding-left: 75px; 
    color:#747474;
}
#contactheader{
 padding-top: 90px;
    padding-left: 75px;
    color: #001D5D;

}
#cform{
    width:750px;
    float:left
}
#cformimg {
    height: 720px;
    width: 530px;
    float: right
}

#contact_row_one{
    float: left;
}


.wrapper {
    padding: 0px;
    max-width: 100%;
    width: 100%;
    margin:  auto;
}

#foot_header {
    text-align: center;
    padding: ;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: px 0;
    background: #001D5D;
    color: white;
}

#fcolor {
    color: white;
}


.coiumn a {
    color: white;
}

.column {
    flex: 1;

    margin: 2px;
    padding: 10px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    color:white;

}

footer {

}

#footer_logo {
    width: 75px;
    height: 75px;
}

#pp{

}
#social_bar{
    width
}
#social{
    background:blue;
    width:100%
}


@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;

        &:nth-last-child(2) {
            margin-right: 0;
        }

        &:last-child {
            flex-basis: 100%;
            margin: 0;
        }
    }
* {
margin: 0;
padding: 0;
}
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}
