* {
    margin: 0, padding: 0
}

html {
    background: black;
}

.content {
    background-color: white;
    max-width: 1280px;
    margin: auto;
    margin-top: 0;
}

nav ul {
    margin: -2;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    background: white;
    display: inline-block;
    list-style-type: none;
    padding-left: 100;
    position: relative;
}

/* Create a style for the first level items */
body {
    background: black;
    font-family: 'Karla', sans-serif;

}

#logo {
    height: 34px;
    width: 93px;
    vertical-align: middle;
    padding-left: 40px;
}

li:hover {
    background: #fff;
}

nav > ul > li > a {
    background: white;
    color: #aaa;
    background-color: white;
    display: inline-block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}




body,
html {
    height: auto;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/heroimg.png");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EEF1F5;
    padding-left: 40px;
}

/*Hero image zoom */
.hero-image {
    -webkit-animation: zoom 10s infinite;
    animation: zoom 10s infinite;
    background: url("assets/heroimg.png") center center fixed no-repeat;
}

.watch_button {
    background-color: none;
}

@-webkit-keyframes zoom {

    0%,
    100% {
        background-size: 100%;
    }

    50% {
        background-size: 125%;
    }
}

@keyframes zoom {

    0%,
    100% {
        background-size: 100%;
    }

    50% {
        background-size: 125%;
    }
}

#aboutimg {
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 35px;
    padding-bottom: 125px;
    width: 520px;
    float:left;
}

#abouthead {
    padding-right: 321px;
    padding-top: 100px;
    color: #001D5D;
    font-size: 40px
}
.carousel_content {
    width: 300px;
    padding: 20px;
    overflow: hidden;
    align-content: auto;
}

.carousel_content img {
    margin-right: 15px;
    float: left;
}

#aboutbody {
    padding-right: 170px;
}

#cformimg{
    width:520px;
    float:right;
}
.form_wrapper {
    background: #fff;
    width: 500px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin: 10% auto 0;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 23px 4px -21px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 23px 4px -21px rgba(0, 0, 0, 0.9);
    box-shadow: 0 23px 4px -21px rgba(0, 0, 0, 0.9);
    float: left;
}

.form_container {
    padding: 15px;
    float: left;
    width: 720px;

}

.form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    
}

.form_wrapper .title_container {
    text-align: center;
    margin: -15px -15px 15px;
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
}

.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .row {
    margin: 10px -15px;
}

.form_wrapper .row > div {
    padding: 0 15px;
    box-sizing: border-box;
}

.form_wrapper .col_half {
    width: 50%;
    float: left;
}

.form_wrapper label {
    display: block;
    margin: 0 0 5px;
}

.form_wrapper .input_field,
.form_wrapper .textarea_field {
    position: relative;
}

.form_wrapper .input_field > span,
.form_wrapper .textarea_field > span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 0px;
}

.form_wrapper .textarea_field > span {
    border-bottom: 1px solid #ccc;
    max-height: 35px;
}

.form_wrapper .input_field > span > i,
.form_wrapper .textarea_field > span > i {
    padding-top: 12px;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="tel"],
textarea {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.form_wrapper textarea {
    height: 8em;
}

.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="email"]:focus,
.form_wrapper input[type="tel"]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    border: 1px solid #f5ba1a;
}

.form_wrapper input[type="submit"] {
    background: #f5ba1a;
    height: 50px;
    line-height: 50px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.form_wrapper input[type="submit"]:hover,
.form_wrapper input[type="submit"]:focus {
    background: #daa106;
}


.wrapper {
    padding: 0px;
    max-width: 100%;
    width: 100%;
    margin: auto;
}

#foot_header {
    text-align: center;
    padding: ;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: px 0;
    background: #001D5D;
    color: white;
}

#fcolor {
    color: white;
}


.coiumn a {
    color: white;
}

.column {
    flex: 1;

    margin: 2px;
    padding: 10px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    color:white;

}

footer {}

#footer_logo {
    width: 75px;
    height: 75px;
}

#pp {}

#social {
    background: #001D5D;
    width: 100%;
    margin-top: -16;
    border-top: solid;
    border-color: white;

}


@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;

        &:nth-last-child(2) {
            margin-right: 0;
        }

        &:last-child {
            flex-basis: 100%;
            margin: 0;
        }
    }

    * {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}
